%h1
	Listing
	-if params[:brand]
		%span.brand=params[:brand]
	memories
	="(#{@memories.total})"

.three-quarters
	=paginate @memories
	%table.listing
		%thead
			%tr
				%td
				%td Brand
				%td Model
				%td Speed
				%td Type
				%td Capacity
		- @memories.results.each do |member|
			%tr
				%td=link_to image_tag(member.image), member, :class => 'thumb'
				%td=link_to member.brand, traverse_path(:brand => member.brand, :target => member.class)
				%td=link_to member.name, member
				%td=link_to member.speed, traverse_path(:speed => member.speed, :target => member.class)
				%td=link_to member.memory_type, traverse_path(:memory_type => member.memory_type, :target => member.class)
				%td=link_to member.capacity, traverse_path(:capacity => member.capacity, :target => member.class)
	=paginate @memories

.third
	.facets
		%h4 Browse by Brand
		%ul.facet
			-for row in @memories.facet(:brand).rows
				%li
					= link_to row.value, memories_path(:brand => row.value)
					="(#{row.count})"
		%h4 Browse by Speed
		%ul.facet
			-for row in @memories.facet(:speed).rows
				%li
					= link_to row.value, memories_path(:speed => row.value)
					="(#{row.count})"